body
{
	font: 1.44em 'Ubuntu', sans-serif;
	font-weight: 300;
  	color: #555;
}

a
{
	cursor: pointer;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s; /* Opera */
	-ms-transition: all 0.5s; /* Explorer 10 */
}

a:hover
{
	text-shadow: 0px 1px 1px #aaa;
}

a:hover img
{	
	box-shadow: 0px 1px 1px #aaa;
}

#landing-text
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 570px;
	text-align: center;
	transition: all 2s ease-in-out;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
}

.main-text
{
	font-size: 2.2em;
	vertical-align: middle;
}

.description
{
	line-height: 1.6em;
	margin-top: .5em;
}

.hourglass
{
	height: 3.7em;
	margin-right: 1em;
	vertical-align: top;
}

.icon-text
{
	display: inline-block;
}

.top-opener
{
	background-color: #2c9bab;
	margin: auto;
	border-radius: 75px 75px 0 0;
	width: 150px;
	height: 75px;
}

.top-opener span
{
	color: white;
	font-weight: 400;
	font-size: 20px;
	display: block;
	top: 25px;
	position: relative;
	text-shadow: 0px 2px 3px #666;
}

.bottom-opener
{
	background-color: #2c9bab;
	margin: auto;
	border-radius: 0 0 75px 75px;
	width: 150px;
	height: 75px;
	box-shadow: 0px 4px 3px -2px #1C656F;
}

.arrow-button
{
	background-image: url('arrow.png');
	background-size: cover;
	text-align: center;
	display: inline-block;
	height: 55px;
}

#arrow
{
	height: 55px;
	margin-top: 3px;
	cursor: pointer;
	/* Firefox */
	-moz-transition: transform .1s ease-in-out, box-shadow .5s;
	/* WebKit */
	-webkit-transition: transform .1s ease-in-out, box-shadow .5s;
	/* Opera */
	-o-transition: transform .1s ease-in-out, box-shadow .5s;
	/* Standard */
	transition: transform .1s ease-in-out, box-shadow .5s;
}

.arrow-rotated
{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.logo-text
{
	font-size: 1em;
	font-weight: 400;
	margin-right: -10px;
}

.number
{
	font-weight: 400;
	color: #ff9955;
	font-size: 1.5em;
	vertical-align: -10%;
}

#email
{
	height: 30px;
	text-align: center;
	border-radius: 5px;
	margin-right: 1em;
	font: .8em 'Ubuntu', sans-serif;
	font-weight: 400;
	width: 200px;
}

#submit-email
{
	font-size: .8em;
	border-radius: 5px;
	padding-top: 0;
	padding-bottom: 0;
	height: 30px;
}

.steps
{
	background-color: white;
	opacity: 0;
	height: 0;
	overflow-y: hidden;
	display: inline-block;
	border-radius: 15px;
	transition: all 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-webkit-transition: all 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-moz-transition: all 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
	-o-transition: all 1.5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

.steps-open
{
	height: 1620px;
	opacity: 1;
	padding: 50px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.links
{
	margin-top: 1em;
	color: #bbb;
	font-size: .78em;
}

.links a
{
	margin-right: .5em;
	margin-left: .3em;
}