body, html
{
    #height:100%;
}

.container-box
{
    width: 90%;
    min-width: 900px;
    min-height: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header
{
    position:relative;
    margin: 10px;
}

.header > *
{
    vertical-align: -25%;
}

.logo-text
{
    #display: inline-block;
    #font-size: 2em;
}

input[type="search"], select
{
    height: 2.2em;
}

.site-search
{
    display:inline-block;
}

.header-right
{
    display: inline-block;
    width: calc(100% - 330px);
    text-align: right;
}

.header-right > *
{
    display: inline-block;
    vertical-align: -20%;
}

.header-right a
{
    height: 20px;
    margin-left: 15px;
}

.header-right a img
{
    height: 100%;
}

.home-link
{
    width: 20px;
}

.home-link img
{
    width: 100%;
}

.profile-link
{
}

.profile-link img
{

}

.points
{
    font-weight: bold;
    vertical-align: 15%;
    margin-left: 5px;
}

.main
{

}

.left-column
{
    float: left;
    width: 180px;
    margin: 10px;
}

.middle-column
{
    display:inline-block;
    width: calc(100% - 240px);
    margin: 10px;
}

.right-column
{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    height: calc(100% - 20px);
    margin:10px;
}

.profile-photo
{
    width: 178px;
    margin-bottom: 10px;
    border-radius: 3%;
    border: 1px solid #ccc;
}

.name
{
    color: #444;
    font: 1.1em 'Ubuntu', sans-serif;
    font-weight: 500;
}

.personal
{
}

.personal-list
{
    font-size: .9em;
    list-style-type: none;
    line-height: 2em;
    margin-top: 20px;
}

.personal-location img, .personal-education img
{
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.contact-icons
{
    margin-top: 7px;
}

.contact-icons img
{
    height: 22px;
    margin-right: 4px;
    vertical-align: middle;
}

.bio-text
{
    font-size: small;
    color: grey;
    margin-top: 10px;
}

.achievements
{
    height: 150px;
    padding: 20px;
}

.tabbed-content
{
    width: 100%;
    margin-top: 25px;
    position: relative;
    display: table;
    table-layout: fixed;
}

.tab
{
    display: table-cell;
    width: 2%;
}

.tab label
{
    padding: 20px 10px;
    position: relative;
    margin-top: -2px;
    cursor: pointer;
    font: 1.1em 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #2C9BAB;
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #2c9bab;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(white, white, #f3f6f7);
    box-shadow: 0px -2px 4px #ccc;
}

.tab [type=radio]
{
    display: none;   
}
.tab-content
{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

[type=radio]:checked ~ label
{
    border-bottom: 1px solid #FF9955;
    color: #FF9955;
}

[type=radio]:checked ~ label ~ .tab-content
{
    display: block;
}

.manifesto
{
    margin: 20px 0 20px 0;
}

.manifesto-compatibility
{
    float: right;
}

.other-people
{
    font-size: .9em;
    display: block;
    margin-bottom: 15px;
}

.comment-profile-pic
{
    height: 25px;
    display: inline-block;
    vertical-align: top;
}

.manifesto-comment
{
    width: calc(100% - 30px);
    border-radius: 4px;
    resize: none;
}

.edit-event
{
    margin: 20px 0px 20px 0px;
}

.event-time
{
    display: block;
    margin-bottom: 10px;
    font-size: small;
    color: grey;
}

.event-icon
{
    width: 40px;
    height: 40px;
    display: inline;
    margin-right: 10px;
    vertical-align: top;
}

.event-details
{
    display: inline-block;
}

.event-text
{
    display: block;
    font-size: .9em;
}

.event-issue-title
{
    display: block;
    font-size: 22px;
}

.event-trend-title
{
    display: block;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.event-reason-title
{
    display: block;
    margin-left: 40px;
    font-size: 16px;
    margin-top: 5px;
}

.edit-event-points
{
    display: inline;
    float: right;
    font-weight: 600;
}

.friend-tile
{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    vertical-align: text-top;
}

.friend-photo
{
    width: 100%;
    height: 100px;
}

.friend-name
{
    font-size: small;
    padding: 5px 3px;
    height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}