.sign-in-box
{
padding: 15px;
}

.sign-in-box hr
{
	margin:auto;
	width: 70%;
	padding: 0;
}

input[type="text"], input[type="email"], input[type="password"]
{
	#text-align: center;
}

#login-button
{
	margin-bottom: 1.5em;
}

.validation-error
{
	display:block;
	font-size: .8em;
	color: #FF9955;
	width:100%;
}

.forgot-password
{
	display: block;
	font-size: .8em;
	width: 100%;
	text-align: left;
}