<div view="view"> Sign Up.html 
	<a href="#/login">Login</a>
	<a href="#/">Index</a>
	<a href="#/profile">Profile</a>	
</div>
<div>
	<h1>SIGN UP</h1> 
	
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="form" ng-submit="signup()" role="form">
	    <div class="form-group">
	        <label for="username">{{"signup.textbox.username" | translate}}</label>
	        <i class="fa fa-key"></i>
	        <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required />
	        <span ng-show="form.username.$dirty && formusername.$error.required" class="help-block">{{"signup.validation.username" | translate}}</span>
	    </div>
	    
	   	<div class="form-group">
	        <label for="email">{{"signup.textbox.email" | translate}}</label>
	        <i class="fa fa-key"></i>
	        <input type="email" name="uEmail" id="uEemail" class="form-control" ng-model="user.email" required="" />
	        <span ng-show="form.uEmail.$dirty && form.uEmail.$error.required" class="help-block">
	        	{{"signup.validation.email" | translate}}
	        </span>
	        <span ng-show="form.uEmail.$error.email">{{"signup.validation.error.email" | translate}}</span>
	    </div>
	    <div class="form-group">
	        <label for="password1">{{"signup.textbox.password" | translate}}</label>
	        <i class="fa fa-lock"></i>
	        <input type="password" name="password1" id="password1" class="form-control" ng-model="user.password1" required />
	        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{"signup.validation.password" | translate}}</span>
	    </div>
	    
	   	<div class="form-group">
	        <label for="password2">{{"signup.textbox.password" | translate}}</label>
	        <i class="fa fa-lock"></i>
	        <input type="password" name="password2" id="password2" class="form-control" ng-model="user.password2" required />
	        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{"signup.validation.password.twice" | translate}}</span>
	    </div>
	    
		<div vc-recaptcha key="'6Lf_9QYTAAAAAAFWwLjkeJ5YkNUQG_blX3s0U3XL'"></div>
	    
	    <div class="form-actions">
	        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
	        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
	    </div>
	</form>
	
</div>
